body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.row-one {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 65px;

}

.row-two {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 65px;
    gap: 15px;
}

.row-three {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 65px;
}

a {
    padding: 20px;
    border: 1px solid black;
    margin: 2px;
    text-decoration: none;
}

a:hover {
    color: blanchedalmond;
    background-color: blue;
}

input {
    margin-left: 105px;
    border-radius: 5px;
}

.actions {
    margin-top: 2em;
    margin-left: 140px;
}

main {
    border: 1px solid blaCK;
    width: 420px;
    padding: 20px;
}

footer {
    border: 1px solid black;
    width: 460px;
    /* padding: 20px; */

}

#btn {
    margin-left: 13em;
}